body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color:#66bfbf;
    margin:2.5rem auto;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:#66bfbf;
}

p{    
    line-height: 2;
    margin:0 0 70px 0;
    color:#40514E;
}

a{
    text-decoration: none;
    color:#11999E;
}

a:hover{
    color:white;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

#description{
    margin:0.83em auto;
    color: #66bfbf;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

#name{
    width: 100%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: #66bfbf;
}

.top-container {
    background-color: rgb(228, 251, 255);
    width:100%;
    height:100%;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin-bottom: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right:300px;
    top:40px;
}

.code2 {
    width:25%;
    float:right;
}

.code1 {
    border-radius:100%;
    width:23%;
    float:left;
    margin-right: 25px;
}

.chituprofile{
    width:35%;
}

.profile{
    margin:80px auto;
    width:469.375px;
}

.skills{
    width:50%;
    text-align: center;
    margin: 0 auto;
}

.skill-row{
    margin: 100px auto 100px auto;
    text-align: left;
}

.bottom-container{
    background-color: #66BFBF;
    height: 175px;
}

.footer-link{
    position: relative;
    top:45px;
    margin: 0 30px;
    font-family: 'Montserrat', sans-serif;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top:80px;
    color: #EAF6F6;
    font-size: 0.75rem;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  
